@model IEnumerable<QuizMaster.Models.QuizMasterUser>

@{
    ViewData["Title"] = "Admin - User Manager";
    Layout = "_AdminLayout";
}

<h2 class="my-4">@ViewData["Title"]</h2>

<table id="user-table" class="display">
    <thead>
        <tr>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td class="fw-semibold">
                @if (user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTime.Now)
                {
                                    <span class="text-danger">Locked to: @user.LockoutEnd.Value</span>
                }
                else
                {
                                    <span class="text-success">Active</span>
                }
                </td>
                <td>
                    @if (user.LockoutEnd.HasValue && user.LockoutEnd.Value > DateTime.Now)
                    {
                        <form asp-action="Unlock" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-success">Unban</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="Lock" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-danger">Ban</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
