@model QuizMaster.Models.TakeQuiz
@{
    ViewData["Title"] = "Congratulations";
}

@section Styles {
    <link rel="stylesheet" href="~/css/celebrate.css" />
}

<div class="container-fluid px-0">

    <div class="text-center custom-bg-gradient py-5">
        <img src="/img/medal.png" />
        <h1 class="mt-4 text-white">Congratulations!</h1>
        <h2 class="text-white">Your final score</h2>
        <h1 class="fw-bold text-color3">@Model.Score/@Model.Quiz.Score</h1>
    </div>

    <div class="container">
        <div class="my-5">
            <h3 class="text-center">See your result details here</h3>
            @foreach (var takeAnswer in Model.TakeAnswers)
            {
                <div class="myCard my-3">
                    <p class="default-question fs-5">@takeAnswer.QuizQuestion.Content</p>
                    @{
                        var answers = @takeAnswer.QuizQuestion.Answers.ToList();
                        var correct = answers[0];
                    }
                    @foreach(var answer in answers)
                    {
                        if (answer.Correct)
                        {
                            correct = answer;
                        }
                        <p class="default-answer">@answer.Content</p>
                    }
                    @if (correct.Content.Equals(takeAnswer.Answer.Content))
                    {
                        <p class="choice-correct text-success fw-semibold">Your choice: @takeAnswer.Answer.Content</p>
                        <p class="answer-correct text-success fw-semibold">Correct answer: @correct.Content</p>
                    }
                    else
                    {
                        <p class="choice-correct text-danger fw-semibold">Your choice: @takeAnswer.Answer.Content</p>
                        <p class="answer-correct text-danger fw-semibold">Correct answer: @correct.Content</p>
                    }

                </div>
            }
       
        </div>

        <div class="text-center my-5">
            <button class="myButton myButton2-primary">Back to Homepage</button>
        </div>
    </div>
</div>