@model QuizMaster.ViewModel.QuizViewModel
@{
    ViewData["Title"] = "Edit your quiz";
}

@section Styles {
        <link rel="stylesheet" href="~/css/createquiz.css" />
}

<div class="container pt-4">
    <div id="add-question" class="myButton-floating text-white d-flex">
        <span>Add Question</span>
        <i class="fa-solid fa-circle-plus fs-5"></i>
    </div>

    <form asp-action="EditQuiz">
        <input type="hidden" asp-for="Id" />

        <div class="quiz-name">
            <input asp-for="QuizTitle" class="quiz-name-input w-100 mb-3 fs-5 border-0 bg-transparent text-center" placeholder="Untitled quiz name" />
        </div>

        <div class="quiz-sum">
            <textarea asp-for="QuizSummary" class="quiz-sum-input w-100 mb-3 border-0 bg-transparent" placeholder="Quiz summary (Optional)"></textarea>
        </div>

        <div id="question-creating">
            @for (var i = 0; i < Model.Questions.Count; i++)
            {
                    <div class="create-quiz-card myCard mb-5" data-question-index="@i">
                        <div class="delete-icon">
                            <i class="fas fa-trash-alt"></i>
                        </div>
                        <input type="hidden" asp-for="Questions[i].Id" />


                        <textarea asp-for="Questions[i].QuestionText" class="create-quiz-question w-100 p-3 mb-3 mt-1 border-0" placeholder="Type your question here" rows="1"></textarea>

                        <div class="d-flex flex-column gap12 mx-3">
                        @for (var j = 0; j < Model.Questions[i].Answers.Count; j++)
                        {
                                    <div class="d-flex align-items-center">
                                        <span class="fs-5 mx-2">@((char)('A' + j)).</span>
                                        <textarea asp-for="Questions[i].Answers[j].Content" class="create-quiz-answer border-0 p-4 w-100" placeholder="Type answer options here" rows="1"></textarea>
                                         <input type="hidden" asp-for="Questions[i].Answers[j].Id" />
                                    </div>
                        }
                        </div>

                        <div class="create-quiz-score mt-3">
                            <label>Score: </label>
                            <input asp-for="Questions[i].Score" type="number" min="0" class="border-0 px-3 py-1 mx-2" placeholder="Enter question score" />
                        </div>

                        <div class="create-quiz-correct-answer">
                            <label>Correct answer: </label>
                            <select asp-for="Questions[i].CorrectAnswer" class="border-0 p-3">
                            @for (var j = 0; j < 4; j++)
                            {
                                        <option value="@((char)('A' + j))">@((char)('A' + j))</option>
                            }
                            </select>
                        </div>
                    </div>
            }
        </div>

        <div id="level-select" class="create-quiz-level my-3 d-flex align-items-center">
            <label>Quiz level: </label>
            <select asp-for="QuizLevel" class="bg-ghost border-0 fw-semibold text-center text-success">
                <option value="1" class="text-success fw-semibold">Easy</option>
                <option value="2" class="text-warning fw-semibold">Medium</option>
                <option value="3" class="text-danger fw-semibold">Hard</option>
            </select>
            <div class="circle mx-2 bg-success"></div>
        </div>

        <div class="quiz-tag">
            <label>Tag: </label>
            <input asp-for="QuizTag" class="quiz-tag-input ms-2 my-3 border-0 bg-transparent" placeholder="Please enter quiz tag here" />
        </div>

        <div class="d-flex align-items-center my-3">
            <label>Make this quiz public?</label>
            <div class="toggler mx-3">
                <input id="toggler-1" type="checkbox" asp-for="QuizPublished" checked="@Model.QuizPublished">

                <label for="toggler-1">
                    <svg class="toggler-on" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <polyline class="path check" points="100.2,40.2 51.5,88.8 29.8,67.5"></polyline>
                    </svg>
                    <svg class="toggler-off" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <line class="path line" x1="34.4" y1="34.4" x2="95.8" y2="95.8"></line>
                        <line class="path line" x1="95.8" y1="34.4" x2="34.4" y2="95.8"></line>
                    </svg>
                </label>
            </div>
        </div>

        <input type="submit" value="Save Changes" class="myButton myButton-primary mb-5" />
    </form>

    @if (!ViewData.ModelState.IsValid)
    {
            <div class="alert alert-danger">
                <h4>Error(s) occurred:</h4>
                <ul>
                @foreach (var value in ViewData.ModelState.Values)
                {
                    foreach (var error in value.Errors)
                    {
                                    <li>@error.ErrorMessage</li>
                    }
                }
                </ul>
            </div>
    }
</div>

@section Scripts {
        <script src="~/js/createquiz.js"></script>
}
