@model IEnumerable<QuizMaster.Models.TakeQuiz>
@{
    ViewData["Title"] = "History";
}

@section Styles {
        <link rel="stylesheet" href="~/css/history.css" />
}

<div class="container pt-4">
    @if (!Model.Any())
    {
            <div class="history-empty text-center mt-5">
                <h2 class="text-center mb-3">Looks like you haven't played a quiz yet</h2>
                <a class="myButton myButton2-primary text-decoration-none text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    Find a quiz
                </a>
            </div>
    }
    else
    {
            <div class="history-exists">
                <h2 class="text-center mb-3">Quiz history</h2>

                <div class="row">
                @foreach (var takeQuiz in Model)
                {
                            <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4">
                                <div class="historyQuizCard d-flex flex-row justify-content-between">
                                    <div class="d-flex flex-column">
                                        <h5 class="history-quiz-title">@takeQuiz.Quiz.Title</h5>
                                        <span class="history-quiz-summary">@takeQuiz.Quiz.Summary</span>
                                        <span class="history-quiz-questions">@takeQuiz.Quiz.QuizQuestions.Count questions</span>
                                        <span class="history-quiz-tag">@takeQuiz.Quiz.Tag</span>
                                        <span class="history-quiz-difficulty">
                                            Difficulty:
                                            <strong class="text-danger">
                                        @(takeQuiz.Quiz.Level == 1 ? "Easy" : takeQuiz.Quiz.Level == 2 ? "Medium" : "Hard")
                                            </strong>
                                        </span>
                                    </div>
                                    <span>Score: <strong>@takeQuiz.Score/@takeQuiz.Quiz.Score</strong></span>
                                </div>
                            </div>
                }
                </div>
            </div>
    }
</div>