@model IEnumerable<QuizMaster.Models.Quiz>
@{
    ViewData["Title"] = "Home";
    int counter = 0;
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="container pt-4">
    <div class="row">
        <div class="col col-12 col-md-12 col-lg-8 mb-3">
            <div class="myCard">
                <h4 class="text-center mb-3">Enter a code to join game</h4>

                <form method="get" asp-controller="Quiz" asp-action="enrollQuiz" class="search-container d-flex flex-row justify-content-center align-items-center gap36 flex-wrap">
                    <div class="search-container-input">
                        <input name="enrollCode" class="myBorder border-gray bg-ghost rounded-4" placeholder="Enter a quiz code" type="tel" aria-label="Enter a quiz code to play game" />
                    </div>
                    <button type="submit" class="myButton myButton2-primary">Join</button>
                </form>
            </div>
        </div>
        <div class="col col-12 col-md-12 col-lg-4 mb-3">
            <div class="myCard">
                <h4 class="text-center mb-3">Want a quiz of your own?</h4>

                <a class="myButton myButton2-secondary text-decoration-none d-flex align-items-center justify-content-center gap12" asp-area="" asp-controller="Quiz" asp-action="CreateQuiz">
                    <i class="fa-solid fa-circle-plus fa-2xl text-center"></i>
                    <span class="fs-5">Create now</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <h2 class="text-center mb-3">Community games</h2>

        <div class="row text-start">
            @foreach (var quiz in Model)
            {
                if (counter >= 8) break;

                if(quiz.Published)
                {
                    <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4">
                        <div class="browseQuizCard" data-bs-toggle="modal" data-bs-target="#detailModal-@quiz.Id">
                            <h5 class="browse-quiz-title">@quiz.Title</h5>

                            <span class="browse-quiz-summary text-gray-dark">@quiz.Summary</span>

                            <span class="browse-quiz-questions">@ReturnQuestion(quiz.QuizQuestions.Count)</span>

                            <span class="browse-quiz-difficulty">Difficulty: 
                                <strong class="@GetCssClassForDifficulty(quiz.Level)">
                                    @ConvertLevelToDifficulty(quiz.Level)
                                </strong>
                            </span>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="detailModal-@quiz.Id" tabindex="-1"
                         aria-labelledby="detailModalLabel-@quiz.Id" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fs-5">@quiz.Title</h5>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="browse-quiz-details-summary">@quiz.Summary</p>
                                    <p class="browse-quiz-details-questions">@quiz.QuizQuestions.Count questions</p>
                                    <p class="browse-quiz-quiz-tag">@quiz.Tag</p>
                                    <p class="browse-quiz-details-difficulty">
                                        Difficulty:
                                        <strong class="@GetCssClassForDifficulty(quiz.Level)">
                                            @ConvertLevelToDifficulty(quiz.Level)
                                        </strong>
                                    </p>

                                    <p class="browse-quiz-details-play">@quiz.TakeQuizs.Count plays</p>

                                    <p class="browse-quiz-details-createdDate">Created at: @quiz.CreatedAt.ToString("HH:mm dd/MM/yyyy")</p>

                                    <div class="browse-quiz-details-ranking fw-semibold text-color2" data-bs-toggle="modal" data-bs-target="#rankingModal-@quiz.Id">
                                        See ranking
                                    </div>
                                </div>

                                <div class="modal-footer justify-content-end">
                                <form asp-controller="Quiz" asp-action="enrollQuiz" method="post">
                                    <input type="hidden" name="enrollCode" value="@quiz.EnrollCode" />
                                    <button class="myButton myButton-primary" type="submit">
                                        Start quiz
                                    </button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Ranking Modal -->
                    <div class="modal fade" id="rankingModal-@quiz.Id" tabindex="-1"
                         aria-labelledby="rankingModalLabel-@quiz.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border-0">
                                <span class="p-4 fw-semibold fs-4 text-center">LEADERBOARD</span>
                                @{
                                    var leaderBoard = quiz.TakeQuizs.OrderByDescending(tq => tq.Score).Take(3).ToList();

                                    if (leaderBoard.Count > 0)
                                    {
                                        <div class="ranking-item ranking-item-first fs-4 fw-semibold bg-color2 d-flex justify-content-between align-items-center">
                                            <div>
                                                <span class="ranking-item-rank mx-3">1</span>
                                                                @leaderBoard[0].User.FirstName @leaderBoard[0].User.LastName 
                                            </div>
                                            <i class="fa-solid fa-trophy fa-xl text-warning"></i>
                                        </div>
                                    }

                                    if (leaderBoard.Count > 1)
                                    {
                                        <div class="ranking-item fw-semibold d-flex justify-content-between align-items-center">
                                            <div>
                                                <span class="ranking-item-rank mx-3 fs-4">2</span>
                                                                @leaderBoard[1].User.FirstName @leaderBoard[1].User.LastName 
                                            </div>
                                            <i class="fa-solid fa-medal fa-2xl" style="color: #C0C0C0"></i>
                                        </div>
                                    }

                                    if (leaderBoard.Count > 2)
                                    {
                                        <div class="ranking-item fw-semibold d-flex justify-content-between align-items-center">
                                            <div>
                                                <span class="ranking-item-rank mx-3 fs-4">3</span>
                                                                @leaderBoard[2].User.FirstName @leaderBoard[2].User.LastName 
                                            </div>
                                            <i class="fa-solid fa-medal fa-2xl" style="color: #CD7F32"></i>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    counter++;
                }
            }

            @functions {
                private string ConvertLevelToDifficulty(int level)
                {
                    switch (level)
                    {
                        case 1:
                            return "Easy";
                        case 2:
                            return "Medium";
                        case 3:
                            return "Hard";
                        default:
                            return "Unknown";
                    }
                }

                private string GetCssClassForDifficulty(int level)
                {
                    switch (level)
                    {
                        case 1:
                            return "text-success";
                        case 2:
                            return "text-warning";
                        default:
                            return "text-danger"; 
                    }
                }

                private string ReturnQuestion(int num)
                {
                    if(num == 1)
                    {
                        return "1 Question";
                    }
                    else
                    {
                        return num + " Questions";
                    }
                }
            }
        </div>

        <a class="myButton myButton2-secondary text-decoration-none mx-auto" asp-area="" asp-controller="Home" asp-action="CommunityQuiz">
            <span class="fs-5">See more</span>
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/js/home.js"></script>
}