@model IEnumerable<QuizMaster.Models.Quiz>
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="container pt-4">
    <div class="row">
        <div class="col-8">
            <div class="myCard">
                <h4 class="text-center mb-3">Enter a code to join game</h4>

                <form method="post" asp-action="enrollQuiz" class="search-container d-flex flex-row justify-content-center align-items-center gap36">
                    <div class="search-container-input">
                        <input name="enrollCode" class="myBorder border-gray bg-ghost rounded-5" placeholder="Enter a quiz code" type="tel" aria-label="Enter a quiz code to play game" />
                    </div>
                    <button type="submit" class="myButton myButton2-primary">Join</button>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="myCard">
                <h4 class="text-center mb-3">Want a quiz of your own?</h4>

                <a class="myButton myButton2-secondary text-decoration-none d-flex align-items-center justify-content-center gap12" asp-area="" asp-controller="Home" asp-action="CreateQuiz">
                    <i class="fa-solid fa-circle-plus fa-2xl text-center"></i>
                    <span class="fs-5">Create now</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2 class="text-center mb-3">Community games</h2>

        <div class="row">
            @foreach (var quiz in Model)
            {
                if(quiz.Published)
                {
                    <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4">
                        <div class="browseQuizCard">
                            <h5 class="browse-quiz-title">@quiz.Title</h5>

                            <span class="browse-quiz-summary text-gray-dark">@quiz.Summary</span>

                            <span class="browse-quiz-questions">@ReturnQuestion(quiz.QuizQuestions.Count)</span>

                            <span class="browse-quiz-difficulty">Difficulty: 
                                <strong class="@GetCssClassForDifficulty(quiz.Level)">
                                    @ConvertLevelToDifficulty(quiz.Level)
                                </strong>
                            </span>
                        </div>
                    </div>                    
                }
            }

            @functions {
                private string ConvertLevelToDifficulty(int level)
                {
                    switch (level)
                    {
                        case 1:
                            return "Easy";
                        case 2:
                            return "Medium";
                        case 3:
                            return "Hard";
                        default:
                            return "Unknown";
                    }
                }

                private string GetCssClassForDifficulty(int level)
                {
                    switch (level)
                    {
                        case 1:
                            return "text-success";
                        case 2:
                            return "text-warning";
                        // Các trường hợp khác nếu bạn muốn mở rộng
                        default:
                            return "text-danger";  // Giả sử chúng ta sử dụng text-muted cho các trường hợp không xác định
                    }
                }

                private string ReturnQuestion(int num)
                {
                    if(num == 1)
                    {
                        return "1 Question";
                    }
                    else
                    {
                        return num + " Questions";
                    }
                }
            }
        </div>
    </div>
</div>