@model IEnumerable<QuizMaster.Models.Quiz>
@{
    ViewData["Title"] = "Admin - Quizzes";
    Layout = "_AdminLayout";
}

<h2 class="my-4">@ViewData["Title"]</h2>
@*<a asp-action="Create">Create New</a>*@
<table id="quizzes-table" class="display w-100">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                 <button class="myButton myButton-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteWarningModal-@item.Id">
                        Delete
                 </button>
            </td>
        </tr>

            <!-- Delete Warning Modal -->
            <div class="modal fade" id="deleteWarningModal-@item.Id" tabindex="-1"
                 aria-labelledby="deleteWarningModal-@item.Id" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>
                                <strong class="text-danger">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    Deleting quiz
                                </strong>
                            </h5>
                            <button class="btn-close" type="button" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="fs-5 fw-bold">Delete this quiz?</p>
                            <p>If you delete this quiz, all history about this quiz will be removed</p>
                            <p>Do you wish to proceed further?</p>
                        </div>

                        <div class="modal-footer justify-content-between">
                            <button type="button" class="myButton myButton-gray" data-bs-dismiss="modal">Cancel</button>
                            <form asp-controller="Quizzes" asp-action="Delete" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="myButton myButton-danger">
                                    Delete
                                    <i class="fa-regular fa-trash-can ms-1"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
}
    </tbody>
</table>