@model Quiz

@{
    ViewData["Title"] = "Results";
}

@section Styles {
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
}

<div class="container pt-4">
    <h2 class="text-center mb-3">@Model.Title</h2>

    <p class="results-total-play fw-semibold">Total plays: @Model.TakeQuizs.Count</p>

    <table id="results-container" class="display w-100">
        <thead>
            <tr>
                <th>Player name</th>
                <th>Score</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var takeQuiz in Model.TakeQuizs)
            {
                        <tr class="resuls-container-item">
                                <td class="resuls-container-item-player">@takeQuiz.User.FirstName @takeQuiz.User.LastName</td>
                            <td class="resuls-container-item-score">@takeQuiz.Score</td>
                            <td class="resuls-container-item-time">
                        @if (takeQuiz.StartedAt.HasValue && takeQuiz.FinishedAt.HasValue)
                        {
                            var timeDifference = takeQuiz.FinishedAt.Value.Subtract(takeQuiz.StartedAt.Value);
                            var formattedTimeDifference = $"{(int)timeDifference.TotalHours:D2}:{timeDifference.Minutes:D2}";
                            @formattedTimeDifference
                        }
                            </td>
                            <td class="resuls-container-item-date">
                        @takeQuiz.CreatedAt.ToString("dd/MM/yyyy")</td>
                        </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Player name</th>
                <th>Score</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts {
            <script src="~/js/quizresults.js"></script>
            <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
}
